.main-game-screen {
  height: 100vh;
  width: 100vw;

  background-color: #1E2D2F;
}



































.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}
